
.btn {
  width: 98%;
  height: 100%;  
  margin: 1rem;
  border-radius: 16px;
  background-color: orange;
  border-color: rgb(177, 117, 5);
  box-shadow: none;
  color: white;
  font-size: 2rem;
  text-transform: capitalize;

  cursor: pointer;
}