.header {
  padding: 2rem;
  font-size: 2.2rem;
}

.questionareGrid {
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-rows: 1fr 10fr;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 10px 10px 10px rgb(58, 58, 58);
  padding: 2rem 1rem 1rem 1rem;
}

// .answers:first-letter {
//   text-transform: uppercase;
// }