
.bar {
  height: 60%;
  background-color: yellow;
  border-radius: 0 16px 16px 0;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  padding-left: 0.5rem;
}

.text {
  color: black;
  margin-left: 0.5rem;
  font-size: 2rem;
  text-transform: capitalize;
}

.resultContainer {
  height: 100%;
  width: 100vw !important;
}