@font-face {
  font-family: 'Signika';
  src: local('Signika'), url(../fonts/Signika-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'), url(../fonts/Merriweather-Regular.ttf) format('truetype');
}

* {
  padding: 0;
  margin: 0;
  font-family: Merriweather; //'Segoe UI', Tahoma, Geneva, Verdana;
}

body {
  background: white;
}


.container {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  
}

.questionare-container {
  height: 100vh !important;
  width: 100vw !important;
  background: #f1f5fa;

  display: flex;
  align-items: center;
  justify-content: center;

}
